<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/>
        </h1>
    </header>

    <!-- 스탯 -->
    <section class="stats">
        <h3>{{localize "coc7.label.stats"}}</h3>
        <table>
            {{#each system.stat as |stat key|}}
            <tr>
                <td>{{localize (concat "coc7.stat." key)}}</td>
                <td><input type="number" name="system.stat.{{key}}.base" value="{{stat.base}}"></td>
                <td>{{stat.half}}</td>
                <td>{{stat.fifth}}</td>
            </tr>
            {{/each}}
        </table>
    </section>

    <!-- 스테이터스 -->
    <section class="status">
        <h3>{{localize "coc7.label.status"}}</h3>
        <table>
            <tr>
                <th>이름</th>
                <th>현재</th>
                <th>최대</th>
                <th></th>
            </tr>
            {{#each system.status as |stat key|}}
            <tr>
            {{#if stat.isDefault}}
                <td>{{localize (concat "coc7.status." key)}}</td>
            {{else}}
                <td><input type="text" name="system.status.{{key}}.label" value="{{stat.label}}"></td>
            {{/if}}

            {{#if (eq key "SAN")}}
                <td>
                    <input type="number" name="system.status.SAN.value" value="{{stat.value}}" data-dtype="Number">
                </td>
                <td>
                    <input type="number" name="system.status.SAN.max" value="{{stat.max}}" data-dtype="Number">
                </td>
                <td>
                    (보정: <input type="number" name="system.status.SAN.bonus" value="{{stat.bonus}}" data-dtype="Number">)
                    / <span>{{stat.limit}}</span>
                </td>

            {{else if (eq key "db")}}
                <td>
                    <input type="text" name="system.status.db.value" value="{{stat.value}}">
                </td>
                <td>
                    <span>{{stat.max}}</span>
                </td>

            {{else if (or (eq key "build") (eq key "move"))}}
                <td>
                    <input type="number" name="system.status.{{key}}.value" value="{{stat.value}}">
                </td>
                <td>—</td>

            {{else}}
                <td>
                    <input type="number" name="system.status.{{key}}.value" value="{{stat.value}}">
                </td>
                <td>
                    <input type="number" name="system.status.{{key}}.max" value="{{stat.max}}">
                </td>
            {{/if}}

                <td>
                    {{#unless stat.isDefault}}
                        <a class="status-delete" data-stat="{{key}}">❌</a>
                    {{/unless}}
                </td>
            </tr>
            {{/each}}
        </table>
        <button type="button" class="status-add">스테이터스 추가</button>
    </section>

    <!-- 기능 -->
    <section class="skills">
        <h3>{{localize "coc7.label.skills"}}</h3>
        <table>
            <tr>
                <th>{{localize "coc7.points.jobSkillPoints"}}</th>
                <th>{{localize "coc7.points.hobbySkillPoints"}}</th>
                <th>{{localize "coc7.points.remainingPoints"}}</th>
                <th>{{localize "coc7.points.skillGrowth"}}</th>
            </tr>
            <tr>
                <td>{{system.points.jobSkillPoints}}</td>
                <td>{{system.points.hobbySkillPoints}}</td>
                <td>{{system.points.remainingPoints}}</td>
                <td><input type="number" name="system.points.skillGrowth" value="{{system.points.skillGrowth}}" data-dtype="Number"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "coc7.skill.name"}}</th>
                <th>{{localize "coc7.skill.value"}}</th>
            </tr>
            {{#each system.skills as |skill key|}}
            <tr>
                {{#if skill.isDefault}}
                    <td>{{localize (concat "coc7.skills." key)}}</td>
                {{else}}
                    <td><input type="text" name="system.skills.{{key}}.label" value="{{skill.label}}"></td>
                {{/if}}
                <td><input type="number" name="system.skills.{{key}}.base" value="{{skill.base}}"></td>
                <td><input type="number" name="system.skills.{{key}}.point" value="{{skill.point}}"></td>
                <td>{{skill.total}}</td>
                <td>{{skill.half}}</td>
                <td>{{skill.fifth}}</td>
                <td>
                {{#unless skill.isDefault}}
                    <a class="skill-delete" data-skill="{{key}}">❌</a>
                {{/unless}}
                </td>
            </tr>
            {{/each}}
        </table>
        <button type="button" class="skill-add">스킬 추가</button>
    </section>

    <!-- 소유 아이템 -->
    <section class="items">
        <h3>아이템</h3>
        <button type="button" class="item-create" data-type="weapon">무기 추가</button>
        <button type="button" class="item-create" data-type="item">아이템 추가</button>
        <ul>
            {{#each actor.items as |item|}}
            <li class="item" data-item-id="{{item.id}}">
                <img src="{{item.img}}" width="24" height="24"/>
                <span class="item-name">{{item.name}}</span>
                <a class="item-edit">✎</a>
                <a class="item-delete">❌</a>
            </li>
            {{/each}}
        </ul>
    </section>

    <section class="import">
        <h3>코코포리아용 JSON 여기에 복붙</h3>
        <textarea class="ccfolia-json"></textarea>
        <button type="button" class="import-ccfolia">가져오기</button>
    </section>
</form>
