<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/>
        </h1>
    </header>

    <!-- 스탯 -->
    <section class="stats">
        <h3>{{localize "coc7.label.stats"}}</h3>
        <table>
            {{#each system.stat as |stat key|}}
            <tr>
                <td>{{localize (concat "coc7.stat." key)}}</td>
                <td><input type="number" name="system.stat.{{key}}.base" value="{{stat.base}}"></td>
                <td>{{stat.half}}</td>
                <td>{{stat.fifth}}</td>
            </tr>
            {{/each}}
        </table>
    </section>

    <!-- 스테이터스 -->
    <section class="status">
        <h3>{{localize "coc7.label.status"}}</h3>
        <table>
            <tr>
                <th>{{localize "coc7.status.HP"}}</th>
                <th>{{localize "coc7.status.MP"}}</th>
                <th>{{localize "coc7.status.SAN"}}</th>
                <th>{{localize "coc7.status.build"}}</th>
                <th>{{localize "coc7.status.db"}}</th>
                <th>{{localize "coc7.status.move"}}</th>
            </tr>
            <tr>
                <td>
                    <input type="number" name="system.status.HP.value" value="{{system.status.HP.value}}" data-dtype="Number">
                    /
                    <span>{{system.status.HP.max}}</span>
                </td>
                <td>
                    <input type="number" name="system.status.MP.value" value="{{system.status.MP.value}}" data-dtype="Number">
                    /
                    <span>{{system.status.MP.max}}</span>
                </td>
                <td>
                    <input type="number" name="system.status.SAN.value" value="{{system.status.SAN.value}}" data-dtype="Number">
                    /
                    <span>{{system.status.SAN.max}}</span>
                    /
                    <span>{{system.status.SAN.limit}}</span>
                </td>
                <td>{{system.status.build}}</td>
                <td>{{system.status.db}}</td>
                <td>{{system.status.move}}</td>
            </tr>
        </table>
    </section>

    <!-- 스킬 -->
    <section class="skills">
        <h3>{{localize "coc7.label.skills"}}</h3>
        <table>
            <tr>
                <th>{{localize "coc7.points.jobSkillPoints"}}</th>
                <th>{{localize "coc7.points.hobbySkillPoints"}}</th>
                <th>{{localize "coc7.points.remainingPoints"}}</th>
                <th>{{localize "coc7.points.skillGrowth"}}</th>
            </tr>
            <tr>
                <td>{{system.points.jobSkillPoints}}</td>
                <td>{{system.points.hobbySkillPoints}}</td>
                <td>{{system.points.remainingPoints}}</td>
                <td><input type="number" name="system.points.skillGrowth" value="{{system.points.skillGrowth}}" data-dtype="Number"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "coc7.skill.name"}}</th>
                <th>{{localize "coc7.skill.value"}}</th>
            </tr>
            {{#each system.skills as |skill key|}}
            <tr>
                {{#if skill.isDefault}}
                    <td>{{localize (concat "coc7.skills." key)}}</td>
                {{else}}
                    <td><input type="text" name="system.skills.{{key}}.label" value="{{skill.label}}"></td>
                {{/if}}
                <td><input type="number" name="system.skills.{{key}}.base" value="{{skill.base}}"></td>
                <td><input type="number" name="system.skills.{{key}}.point" value="{{skill.point}}"></td>
                <td>{{skill.total}}</td>
                <td>{{skill.half}}</td>
                <td>{{skill.fifth}}</td>
                <td>
                {{#if skill.isDefault}}
                    <!-- 기본 스킬: 삭제 없음 -->
                {{else}}
                    <a class="skill-delete" data-skill="{{key}}">❌</a>
                {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
        <button type="button" class="skill-add">스킬 추가</button>
    </section>

    <!-- 소유 아이템 -->
    <section class="items">
        <h3 class="noborder">아이템</h3>
        <ol class="actor-items">
        {{#each actor.items as |item id|}}
        <li class="actor-item" data-item-id="{{id}}">
            <div class="item-name">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            <h4>{{item.name}}</h4>
            </div>
            <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
        </ol>
    </section>
</form>
